@import "colors";
@import "patterns";

div.apl-slideshow {
	width: 580px;
	.field-content, a {
		color: white;
                @include ellipsis;
	}
	p {
		margin-bottom: 0;
	}

	.widget_pager_bottom {
	}

.views-slideshow-controls-top,
.views-slideshow-controls-bottom {
        z-index: 13;
        position: relative;
        #widget_pager_bottom_highlighted_images-panel_pane_8 {
                z-index: 12;
        }
        width: 100%;
        float: left;
        .views-slideshow-controls-text-pause {
                display: none;
        }
        .views-slideshow-controls-text-next {
			margin-right: -3px;
		}
        .views-slideshow-controls-text-previous,
        .views-slideshow-controls-text-next {
            display: block;
            height: 0px;
            width: 0px;
                z-index: 12;
                float: left;
                margin-left: 5px;
                overflow: hidden;
                border-color: transparent $blue;
                border-style: solid;
                border-width: 12px 12px 12px 0;
                display: block;
        &:hover {
                border-color: transparent lighten($blue, 10%);
        }
        }
        .views-slideshow-controls-text-next {
                border-width: 12px 0 12px 12px;
        }
        .views-slideshow-pager-fields {
                position: absolute;
		bottom: 5px;
                bottom: 27px\9;
                right: 0;
        }
        .views-slideshow-controls-text {
                position: absolute;
                bottom: 32px;
                right: 4px;
        }
}

	
        div.views-field-field-highlighted-image {
                z-index: 8;
                position: relative;
                &:after {
                        position: absolute;
                        bottom: 6px;
                        bottom: -64px\9;
                        content: "";
                        height: 64px;
                        opacity: 0.4;
                        opacity: 1\9;
                        background-color: $black;
                        width: 100%;
                        z-index: 6;
                }
        }

        div.views-field-title {
		position: absolute;
                font-weight: bold;
                font-size: 16px;
                bottom: 37px;
		left: 10px;
                z-index: 10;
                padding-top: 3px;
        }

        div.views-field-body {
		position: absolute;
                bottom: 17px;
		left: 10px;
                z-index: 9;
        }

}
