@import "colors";

div#mini-panel-apl_2014_top {


.panel-col-bottom {
	background-color: $blue;
	ul.menu {
		margin: 0;
		padding: 0;
		border-top: 1px solid $blue;
		border-bottom: 1px solid $blue;
	
		li {
			border-bottom: 3px solid $blue;
			display: inline-block;
			margin-right: 5px !important;
		
			&:last-child {
				margin-right: 0 !important;
			}
		
			&:hover > a, a.qtip-hover, &.over > a {	
				background-color: white;
				color: $blue !important;
			}
		
			a {
				color: white;
				padding: 2px 9px 4px !important;
			 	text-decoration: none;
				text-transform: none;
				
			&:hover {
				text-decoration: none;
				background-color: white;
				color: $blue;
			}
			}
		}
	}
}

}



div.qtip {
	border-top: 1px solid red !important;
}

