@import "colors";
@import "typography";

div.panel-2col-stacked .panel-col-first .inside {
	margin: 0;
}

.pane-blogs-2014 .views-row {
//	max-height: 170px;
//	background-color: rgba(23,23,23,0.4);
}

div.blogs {
	border: 1px solid #efefef;
	margin-bottom: 10px;
//	padding: 0 10px !important;
}

div.blogs-list {
	&.front-page {


	.views-field-body img {
    		display: none;
	}
	}
}


div.blogs-list,
div.events {
	padding-top: 10px;
//div.blog-post {
	div.views-row {	
		overflow: hidden;
//		height: 175px;
		//border: 1px solid silver;
		margin-bottom: 15px;
		//box-shadow: 5px 5px 5px silver;
		//box-shadow: 0px 5px 3px silver;
//		box-shadow: 5px 5px 10px darken(silver, 20%);
//		border: 1px solid #efefef;
		margin-bottom: 20px;
//		padding: 0 10px !important;
		div.views-field {
			padding-right: 10px;
		&.views-field-field-main-image {
			float: left;
			a {
				display: block;
				height: 155px;
				img {
					background-color: $blue_black;
					max-width: 155px;
					max-height: 155px;
				//	margin-top: 10px;
				}
			}
		}
		&.views-field-title {
/*			margin-top: 6px;
			margin-right: 10px;
			margin-left: 165px;
			margin-bottom: 5px;
*/
//			min-height: 25px;
			//font-size: 14px;
			font-size: 20px;
			line-height: 1.5em;
			padding-right: 10px;
			padding-bottom: 1px;
			//width: 100px;
				@include ellipsis;
			span a {
//				background-color: red !important;
			}
		}
		&.views-field-created {
			font-size: x-small;
			padding-left: 165px;
			clear: none;
			span {
			&[class*='y200'],
			&[class*='y2010'],
			&[class*='y2011'],
			&[class*='y2012'] {
				//background-color: green;
				&:after {
					content: " (This post is old.)";
				}
			}
			}
		}
		&.views-field-body {
//			padding-left: 165px;
			padding-bottom: 10px;
//			margin-top: 10px;
			overflow: hidden;
//			max-height: 100px;
		}
		&.views-field-field-date-and-time,
		&.views-field-field-event-loc {
			padding-left: 165px;
			padding-bottom: 10px;
			margin-top: 10px;
		}

		&.views-field-title-1 {
			clear: left;
			margin-top: 10px;
			text-align: right;
		}
		&.views-field-field-blog-books {
			.jcarousel-item.jcarousel-item-horizontal {
				border-color: red;
			}
		}
		}
	}
}
div.blog-post {
		span.views-label.views-label-field-blog-books {
			margin-left: 18px;
			
		}
.jcarousel-skin-default .jcarousel-item-placeholder {
	background: none;
	border: none;
}
	div.views-row {	
		overflow: hidden;
		width: 100%;
		div.jcarousel-skin-default a.jcarousel-next-horizontal {
//			right: -6px;
		}
	}
}

div.blog-post {
	div.views-row {
		overflow: hidden;
//		min-height: 175px;
		//border: 1px solid silver;
		//box-shadow: 0px 5px 3px silver;
//		box-shadow: 5px 5px 10px darken(silver, 20%);
		margin-bottom: 20px;
	div.views-field {
		&.views-field-field-main-image {
			float: left;
			margin: 0 10px 10px 0;

			a {
				display: block;
				height: 155px;
				img {
					max-width: 155px;
					max-height: 155px;
				}
			}
		}
	&.views-field-field-blog-books {
		margin-top: 10px !important;
//		border: 1px solid green;
	}
	&.views-field-title {
		//margin-right: 10px !important;
		margin: 10px !important;
	}
	&.views-field-body {
		padding-left: 0px !important;
//		border: 1px solid red;
		margin: 0 10px 15px;
		padding-top: 0;
		div.field-content {
			margin-top: 0;
		}
		p:first-child {
			margin-top: 0px;
//			background-color: yellow;
		}
	}
	&.views-field-field-tags,
	&.views-field-created-1 {
		margin-left: 19px;
	}
	}
	}
}
