@import "colors";

div.apl-events {
    min-height: 20px;
    position: relative;
}

div.apl-calendar {
	background-color: white;
	
	a {
		text-decoration: none !important;
	}

	div.view-header {
		padding-right: 2px;
		
		div.date-heading h3 {
			font-size: 22px !important;
			font-weight: normal;
		}
	}

	ul {
		list-style-type: none;
	}
	
	table.mini {
		
		th.days {
			background-color: white;
			border: none;
		}

	td.mini {
	&.past div {
		background-color: silver;
		&.month.mini-day-on > a {
			background-color: lighten(silver, 10%) !important;
		}
	} 
	&.empty div {
		background-color: white;
	} 
	&.today div {
		background-color: green;
	} 
	
	div {
		background-color: $c_green;
		
	&.month.mini-day-on > a {
	    background-color: $c_blue;
	    display: block;
	    height: 100%;
	    width: 100%;
	
		&:hover {
			background-color: $rr_green_light !important;
			color: white;
		}
	}
	}
	}
		td.mini div {
			float: none;
			width: 100%;
			height: 50px;
			
			@include breakpoint($high-tide) {
				height: 37px;
			}
			padding: 0 !important;
			text-align: center;

		&.calendar-empty {
			display: none;
		}
		}
	}

}

body div#mini-panel-highlighted_images_calendar div.panel-col-last {
	.date-heading h3 a{
		color: $blue;
	}
}

ul.events-2014 {
	list-style-type: none;
	text-align: right;
	margin-top: 10px;
	position: absolute;
	bottom: 0;
	right: 0;
	li {
		display: inline-block;
		border-right: 1px solid silver;
		margin-left: 5px;
		padding-right: 5px;
		
	&:last-child {
		border: none;
		padding-right: 0;
	}
	}
}

body div #mini-panel-highlighted_images_calendar div.panel-col-last {
	float: none;
	width: $big_column !important;
	margin-top: 30px;
	
	@include breakpoint($high-tide) {
		width: 340px !important;
		margin-top: 0;
		float: right;
	}
	
	.inside {
	    margin: 0 !important;
	}
}

.view .date-nav-wrapper {

div.ajax-progress {
	display: block;
}
	margin: 0;
	padding: 0;
	
	div.date-nav {
		padding: 0;
		
	ul.pager li {
		padding: 0;
		background-color: transparent;
		margin: 0;
		width: 0;
		height: 0;
		
		&.date-prev {
			
			div.ajax-progress {
				margin-top: 25px !important;
				margin-right: 25px !important;
			}
			
			right: 28px;
			
			a {
				border-color: transparent $blue transparent transparent;
				border-width: 12px 12px 12px 0px ;
			&:hover {
				border-color: transparent #0088DD transparent transparent;
			}
			}
		}
		
		&.date-next {
			div.ajax-progress {
				margin-top: 5px !important;
			}
			
			right: 12px;
			
			a {
				border-color: transparent transparent transparent $blue;
				border-width: 12px 0 12px 12px ;
			&:hover {
				border-color: transparent transparent transparent #0088DD;
			}
			}
		}
		a {
			background-color: transparent;
			border-style: solid;
			overflow: hidden;
			width: 0 !important;
			height: 0 !important;
			display: block;
			margin: 0;	
			top: 3px;
			position: absolute;
		}
	}
	}
}
div.apl-calendar {

.calendar-calendar .month-view .mini {
tr {
&.single-day {
	display: none;
}

&.date-box td {
	background-color: $c_green;
	border-left: 0;
}

td {
	border: 4px solid white;
	padding: 0 !important;
	color: $c_text;

&.mini.today,
&.date-box.today {
	border: 4px solid white;
	background-color: green;
	color: white;
}

&.empty {
	border-color: white;
	background-color: white !important;
	color: $c_green;
}


}
}
}

}
