@import "colors";

.pane-menu-menu-coa-header {
	background-color: $black;
	ul.menu {
		width: $coa-break;
		margin: 0 auto !important;
		li:nth-child(5) a {
			border-right-width: 0;
		}
		
		@include breakpoint($coa-one) {
			width: 100%;
			li:nth-child(5) a {
				border-right-width: 1px;
			}
		}

		overflow: hidden;
		line-height: 18px;
		margin: 0;
		padding: 0;
		border: medium none;
		list-style: none outside none;
		font-family: Arial,Helvetica,sans-serif;
		font-size: 10px;
		font-weight: normal;

		text-align: center;
		
		li {
			display: inline;
			a {
				color: #BDBDBD;
				text-decoration: none;
				text-transform: uppercase;
                border-right: 1px solid fade-out(#BDBDBD, 0.2);
                padding: 0 5px;
				letter-spacing: 1px;
				font-weight: bold;

			&:hover {
				text-decoration: underline;
			}
			&.active {
				color: $yellow;
				font-weight: bold;
			}
			}	    
			
			&.first {
			}
			
			&.last a {
				border-right: none;
			}
			}
		}
	
}
