@import "colors";
@import "dimensions";

#search_top, 
#maincontent + #footer {
 //   margin: 10px;
}



#footer {
	border-bottom: 10px solid $blue;
	border-top: 10px solid $blue;
	background-color: #174478;
	padding-top: 10px;

#mini-panel-footer_container {
	@include responsive_container;
	
	.inside {
		margin-right: 0;
	}
	
div.panel-col-first {
//	margin-left: 5px;
	width: 580px;

	#more-than-books {
		width: 220px;
		float: left;
		line-height: 20px;
		
		h2.pane-title {
			border: none;
			color: $yellow;
    		font-style: oblique;
			padding: 0;
    		background-image: url("http://austinlibrary.com/images/apl_2014/tagline_more_than_books2.png");
    		background-repeat: no-repeat;
    		font-style: oblique;
    		text-indent: -9999px;
			height: 26px;

		}

		ul {
			padding-left: 5px !important;
		}

		ul li {
			list-style-type: none;
		}
	}

	#connect-with-us {
		float: right;
//		margin-right: 20px;

		h2.pane-title {
			float: left;
			border: none;
			font-size: small;
			color: white;
			font-weight: normal;
			padding: 0;
		}

		ul {
			padding-left: 5px !important;
		}

			ul li {
				cursor: pointer;
				float: left;
				margin-right: 5px;
		
				&.menu-mlid-4536 {
					background-image: url("http://austinlibrary.com/images/apl_2014/twitter512.png") !important;
					clear: both;
				}
				&.menu-mlid-4543 {
					background-image: url("http://austinlibrary.com/images/apl_2014/facebook512.png") !important;
				}
				&.menu-mlid-4545 {
					background-image: url("http://www.austinlibrary.com/images/apl_2014/plus2.png") !important;
					margin-right: 0;
				}

				background-position: center bottom;
				background-repeat: no-repeat;
				background-size: 32px auto;
				display: block;
				height: 32px;
				text-indent: -9999px;
				width: 32px;
}
}
}
div.panel-col {
//	border-left: 1px dotted white;
	float: right;
	margin-right: 18px;
//	padding: 10px 0 10px 10px;
	width: 355px;
}

div.panel-col-last {
	width: 340px;
	padding-top: 0;
	margin-top: 0;
	.inside {
		margin: 0;
	}
}

	background-image: url("http://austinlibrary.com/images/apl_2014/footer.png?b");
	background-image: none\9;
    	background-repeat: no-repeat;
    	background-size: 48% auto !important;
	background-position: 100px bottom;
	.panel-col-last {
	}
}

	div.panel-col {
		h2.pane-title {
			border-bottom: none;
			padding-left: 15px;
			font-weight: normal;
			color: white;
		}
		div.panel-col-first {
			h2.pane-title {
    				color: $yellow;
			}
			ul li:nth-child(2) {
				&:before {
    					color: $yellow;
					font-size: x-small;
    					content: "New! ";
				}
			}
		}
		float: left;
		width: 580px;
		div.panel-col-first {
			background-image: none;
			width: 46%;
		}
		div.panel-col {
			padding-right: 20px;
			width: 160px !important;
			float: right;
			border-left: none !important;
			padding-top: 0 !important;
			h2.pane-title {
				font-size: small;
			}
		}
		float: left;
		min-height: 85px;
	}
	
	div.panel-col-last {
		float: right;
		margin-bottom: 0;
	}
	tbody {
		border: none;
	}
	a {
		color: white;
	}
	font-size:12px;
	color: #333;
	float: none;
	clear: both;
	p {
		margin-left:19px;
		margin-top:10px;
	}
}

#bottom_links {
	margin: 0 0 10px 10px;
	height: 40px;
	padding-left: 0;
	li {
		display: block;
		float: left;
		margin-right: 10px;
	&:nth-child(3),
	&:nth-child(4),
	&:nth-child(5),
	&:nth-child(6),
	&:nth-child(7),
	&:nth-child(8),
	&:nth-child(9)
 	{
		margin-top: 6px;
	}
	&:last-child {
		float: right;
		margin-right: 0;
	}
	}
}
