@import "colors";

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

body,
div,
#header {
	margin: 0 auto;
	padding: 0;
}

#header {
	h2.pane-title {
		display: none;
	}
}

#page, .region-bottom {
    max-width: none !important;
}

div#mini-panel-apl_2014_top {
	background-color: white;
	
	.panel-col-top,
	.panel-col-bottom {
		width: 100%;
	}
	
	.center-wrapper {
		min-height: 72px;
		max-width: 960px;
		padding: 0 20px;
		margin: 5px auto !important;
		position: relative;
	}
	
	.panel-col-bottom {
		background-color: $blue;
		
		ul.menu li {
			border-bottom: 3px solid $blue;
			display: inline-block;
			
			a {
			color: white;
			font-size: 1.4em;
			text-transform: none;
			
			&:hover {
				text-decoration: none;
				background-color: white;
				color: $blue;
			}
		}
		}
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
}
