@import "colors";
@import "patterns";

div#mini-panel-apl_2014_top {
	div.panel-col-bottom li {
		margin-right: 5px !important;
		&:last-child {
		margin-right: 0 !important;
		}
		a {
			padding: 3px 9px 6px !important;
			margin-left: -8px;
		}
		&:hover > a,
		a.qtip-hover,
		&.over > a {	
			background-color: white;
			color: $blue !important;
//			box-shadow: 5px 5px 5px darken(silver, 20%);
		}
		ul {
//			box-shadow: 0px 5px 2px darken(silver, 20%);
		}
	}

}
#block-menu-block-23 div.menu-name-menu-apl-2013-06-20,
#block-nice-menus-1,
#block-nice-menus-2 {

ul.menu {
	padding-left: 0;
	margin-left: 4px;
}


	ul li a.active {
		font-weight: bold;
		background-color: white;
		color: $blue;
	}
	background-color: $blue;
	clear: both;
	h2 {
		display:none;
	}
	ul {
        	li {
			ul {
				clear: both;
				top: 22px;
				border-left: 10px solid lighten($blue, 10%);
				border-width: 11px 0 0 11px;
				border-color: transparent transparent transparent lighten($blue, 10%);
//				border-top: 11px solid rgba(,0.2);
				li {
				&.first {
				> a:hover {
				}
				}	
				margin-left: 0;	
				}
			}
		border: none;
		margin-left: 1px;
		&.active-trail {
        	        > a,
			a.active {
				//background-color: lighten($blue, 10%);
				background-color: white;
				color: $blue;
	                	font-weight: bold;
        	        }
			ul li a:hover {
				//color: white;
				color: $blue;
			}
			ul li:active-trail a {
			}
                	font-weight: bold;
                	li a {
                        &:hover {
                        }
                        	font-weight: normal;
                	}
        	}
	}
	&.menu a,
	&.nice-menu a {
		padding: 3px 5px;
	}
	&.menu,
	&.nice-menu-down {
		clear: left;
		float: none;
		margin-left: 4px;
		> li {
			padding-right: 10px;
		}
	}
		li {
			&.menuparent {
				background-image: none;
				a {
					padding: 3px 5px;
				}
			}
			background-color: $blue;
			a {
				color: white;
				&:hover,
				&.qtip-hover {
					background-color: white;
					color: $blue;
				}
			}
		}
	}
}
