#page {
#main {
	margin: 10px auto;
	max-width: 980px;

	line-height: 1.5em;
	
	.panel-2col, 
	.center-wrapper {
	
		.panel-col-first {
			width: 580px;
			min-height: 100px;
		}
	
		.panel-col-last {
			width: 360px;
			margin-left: 20px;
		}
	}
	.more-link {
	    text-align: right;
	}
	h2.pane-title {
		border-bottom: 1px solid #BFD3DF;
		margin: 5px 0 !important;
		padding: 5px 5px 0 0;
	}
}
}
