@import "colors";
@import "patterns";

#form_articles, #form_site, #form_catalog {
    display: none;
}

.alt_language {
	float: right;
}

#header {
        h2.block-title,
        #form_catalog,
        #form_site,
        #form_articles {
                display: none;
        }
}
#aplCustomSearchWrapper2 {
	float: right;
	clear: right;
	margin-bottom: 10px;
//	margin-right: 10px;
	form#globalSearch {
		position: relative;
	}
	input {
		float: right;
	}
	input#search_input {
		width: 320px;
		float: none !important;
		padding-bottom: 7px;
		padding-left: 5px;
		padding-right: 24px !important;
		padding-top: 8px !important;
	}
	input.search_button {
		background-image:url('http://austinlibrary.com/images/apl_2014/search_icon.png');
		background-color: white;
		height:29px;
		width:32px;
		border: none;
		position: absolute;
		text-indent: -9999px;
		top: 3px;
	//	right: 3px;
		left: 100%;
		cursor: pointer;
		&:hover {
			background-position: 33px 0;
		}
		&:active {
			background-position: 38px 1px;
		}
	}
	.searchOptions {
		clear: both;
		margin-top: 5px;
		*margin-top: 27px;
		input {
			float: left;
		}
		label {
			font-weight: normal;
			float: left;
			margin: 0 10px 0 5px;
			*margin-top: 0;
		}
	}
}
