@import "colors";

$width: 100%;

.panel-pane.pane-custom.pane-4 > img {
    height: auto;
    max-width: 100%;
}
#mini-panel-ahc_about_us_address_hours p + p{
	padding-top: 10px;
}
#mini-panel-austin_history_center_all {
.panel-pane.pane-custom.pane-3 > p {
    margin-left: 10px;
    margin-right: 10px;
}
	span.mon, span.tues, span.sun {
		display: block;
	span, span span {
	    display: inline-block;
	}
}
}

#mini-panel-ask_us {
//    border: 1px dotted #D2B48C;
//    width: 700px;
	p {
		margin: 0 5px 5px 10px;
		span {
			display: inline-block;
		&.mon,
		&.fri,
		&.sun {
			margin-top: 10px;
		}
		}
	}
	div.panel-panel {
	
	}
}

.panel-2col .panel-col-first .inside,
.panel-2col .panel-col-first .inside p {
    margin: 0 0 0 0 !important;
}

#mini-panel-austin_history_center_all,
div#mini-panel-using_the_library {
	div.panel-col div.panel-col {
		width: 33%;
//		border: 1px solid red;
	}
}
div#mini-panel-clone_of_messages {
	//min-height: 30px;
	text-align: center;
	p {
		margin-bottom: 0;
	}
span.field-content {
	display: block;
}
	div.messages {
		background-image: none;
		border: none;
		padding: 6px 20px !important;
	&.status {
		background-color: green;
		color: white;
	}
	&.warning {
		background-color: $yellow;
		color: white;
		p {
			color: $blue_black;
			a {
				border-bottom: 1px dotted white;
				color: $blue_black;
			&:hover {
				border-bottom: 1px solid $blue_black;
				text-decoration: none;
			}
			}
		}
	}
	}
}


