/* line 6, ../sass/apl-menu.scss */
div#mini-panel-apl_2014_top .panel-col-bottom {
  background-color: #0069aa;
}
/* line 8, ../sass/apl-menu.scss */
div#mini-panel-apl_2014_top .panel-col-bottom ul.menu {
  margin: 0 auto 10px;
  padding: 0;
  text-align: center;
  width: 720px;
  border-top: 6px solid #0069aa;
  border-bottom: 1px solid #0069aa;
}
/* line 16, ../sass/apl-menu.scss */
div#mini-panel-apl_2014_top .panel-col-bottom ul.menu li {
  margin-bottom: 5px;
}
@media (min-width: 1220px) {
  /* line 8, ../sass/apl-menu.scss */
  div#mini-panel-apl_2014_top .panel-col-bottom ul.menu {
    width: 100%;
    border-top: 1px solid #0069aa;
  }
  /* line 23, ../sass/apl-menu.scss */
  div#mini-panel-apl_2014_top .panel-col-bottom ul.menu li {
    margin-bottom: 0;
  }
}
/* line 31, ../sass/apl-menu.scss */
div#mini-panel-apl_2014_top .panel-col-bottom ul.menu li {
  border-bottom: 3px solid #0069aa;
  display: inline-block;
  margin-right: 5px !important;
}
/* line 36, ../sass/apl-menu.scss */
div#mini-panel-apl_2014_top .panel-col-bottom ul.menu li:last-child {
  margin-right: 0 !important;
}
/* line 40, ../sass/apl-menu.scss */
div#mini-panel-apl_2014_top .panel-col-bottom ul.menu li:hover > a, div#mini-panel-apl_2014_top .panel-col-bottom ul.menu li a.qtip-hover, div#mini-panel-apl_2014_top .panel-col-bottom ul.menu li.over > a {
  background-color: white;
  color: #0069aa !important;
}
/* line 45, ../sass/apl-menu.scss */
div#mini-panel-apl_2014_top .panel-col-bottom ul.menu li a {
  color: white;
  padding: 2px 9px 4px !important;
  text-decoration: none;
  text-transform: none;
  font-size: 18px;
}
/* line 52, ../sass/apl-menu.scss */
div#mini-panel-apl_2014_top .panel-col-bottom ul.menu li a:hover {
  text-decoration: none;
  background-color: white;
  color: #0069aa;
}

/* line 66, ../sass/apl-menu.scss */
div.qtip {
  border-top: 1px solid #fdb813 !important;
}
