/* line 4, ../sass/blogs-2014.scss */
div.panel-2col-stacked .panel-col-first .inside {
  margin: 0;
}

/* line 13, ../sass/blogs-2014.scss */
div.blogs {
  border: 1px solid #efefef;
  margin-bottom: 10px;
}

/* line 23, ../sass/blogs-2014.scss */
div.blogs-list.front-page .views-field-body img {
  display: none;
}

/* line 30, ../sass/blogs-2014.scss */
div.blogs-list,
div.events {
  padding-top: 10px;
}
/* line 34, ../sass/blogs-2014.scss */
div.blogs-list div.views-row,
div.events div.views-row {
  overflow: hidden;
  margin-bottom: 15px;
  margin-bottom: 20px;
}
/* line 45, ../sass/blogs-2014.scss */
div.blogs-list div.views-row div.views-field,
div.events div.views-row div.views-field {
  padding-right: 10px;
}
/* line 47, ../sass/blogs-2014.scss */
div.blogs-list div.views-row div.views-field.views-field-field-main-image,
div.events div.views-row div.views-field.views-field-field-main-image {
  float: left;
}
/* line 49, ../sass/blogs-2014.scss */
div.blogs-list div.views-row div.views-field.views-field-field-main-image a,
div.events div.views-row div.views-field.views-field-field-main-image a {
  display: block;
  height: 155px;
}
/* line 52, ../sass/blogs-2014.scss */
div.blogs-list div.views-row div.views-field.views-field-field-main-image a img,
div.events div.views-row div.views-field.views-field-field-main-image a img {
  background-color: #001421;
  max-width: 155px;
  max-height: 155px;
}
/* line 60, ../sass/blogs-2014.scss */
div.blogs-list div.views-row div.views-field.views-field-title,
div.events div.views-row div.views-field.views-field-title {
  /*			margin-top: 6px;
  			margin-right: 10px;
  			margin-left: 165px;
  			margin-bottom: 5px;
  */
  font-size: 20px;
  line-height: 1.5em;
  padding-right: 10px;
  padding-bottom: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 78, ../sass/blogs-2014.scss */
div.blogs-list div.views-row div.views-field.views-field-created,
div.events div.views-row div.views-field.views-field-created {
  font-size: x-small;
  padding-left: 165px;
  clear: none;
}
/* line 88, ../sass/blogs-2014.scss */
div.blogs-list div.views-row div.views-field.views-field-created span[class*='y200']:after, div.blogs-list div.views-row div.views-field.views-field-created span[class*='y2010']:after, div.blogs-list div.views-row div.views-field.views-field-created span[class*='y2011']:after, div.blogs-list div.views-row div.views-field.views-field-created span[class*='y2012']:after,
div.events div.views-row div.views-field.views-field-created span[class*='y200']:after,
div.events div.views-row div.views-field.views-field-created span[class*='y2010']:after,
div.events div.views-row div.views-field.views-field-created span[class*='y2011']:after,
div.events div.views-row div.views-field.views-field-created span[class*='y2012']:after {
  content: " (This post is old.)";
}
/* line 94, ../sass/blogs-2014.scss */
div.blogs-list div.views-row div.views-field.views-field-body,
div.events div.views-row div.views-field.views-field-body {
  padding-bottom: 10px;
  overflow: hidden;
}
/* line 101, ../sass/blogs-2014.scss */
div.blogs-list div.views-row div.views-field.views-field-field-date-and-time, div.blogs-list div.views-row div.views-field.views-field-field-event-loc,
div.events div.views-row div.views-field.views-field-field-date-and-time,
div.events div.views-row div.views-field.views-field-field-event-loc {
  padding-left: 165px;
  padding-bottom: 10px;
  margin-top: 10px;
}
/* line 108, ../sass/blogs-2014.scss */
div.blogs-list div.views-row div.views-field.views-field-title-1,
div.events div.views-row div.views-field.views-field-title-1 {
  clear: left;
  margin-top: 10px;
  text-align: right;
}
/* line 114, ../sass/blogs-2014.scss */
div.blogs-list div.views-row div.views-field.views-field-field-blog-books .jcarousel-item.jcarousel-item-horizontal,
div.events div.views-row div.views-field.views-field-field-blog-books .jcarousel-item.jcarousel-item-horizontal {
  border-color: red;
}

/* line 122, ../sass/blogs-2014.scss */
div.blog-post span.views-label.views-label-field-blog-books {
  margin-left: 18px;
}
/* line 126, ../sass/blogs-2014.scss */
div.blog-post .jcarousel-skin-default .jcarousel-item-placeholder {
  background: none;
  border: none;
}
/* line 130, ../sass/blogs-2014.scss */
div.blog-post div.views-row {
  overflow: hidden;
  width: 100%;
}

/* line 140, ../sass/blogs-2014.scss */
div.blog-post div.views-row {
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 148, ../sass/blogs-2014.scss */
div.blog-post div.views-row div.views-field.views-field-field-main-image {
  float: left;
  margin: 0 10px 10px 0;
}
/* line 152, ../sass/blogs-2014.scss */
div.blog-post div.views-row div.views-field.views-field-field-main-image a {
  display: block;
  height: 155px;
}
/* line 155, ../sass/blogs-2014.scss */
div.blog-post div.views-row div.views-field.views-field-field-main-image a img {
  max-width: 155px;
  max-height: 155px;
}
/* line 161, ../sass/blogs-2014.scss */
div.blog-post div.views-row div.views-field.views-field-field-blog-books {
  margin-top: 10px !important;
}
/* line 165, ../sass/blogs-2014.scss */
div.blog-post div.views-row div.views-field.views-field-title {
  margin: 10px !important;
}
/* line 169, ../sass/blogs-2014.scss */
div.blog-post div.views-row div.views-field.views-field-body {
  padding-left: 0px !important;
  margin: 0 10px 15px;
  padding-top: 0;
}
/* line 174, ../sass/blogs-2014.scss */
div.blog-post div.views-row div.views-field.views-field-body div.field-content {
  margin-top: 0;
}
/* line 177, ../sass/blogs-2014.scss */
div.blog-post div.views-row div.views-field.views-field-body p:first-child {
  margin-top: 0px;
}
/* line 182, ../sass/blogs-2014.scss */
div.blog-post div.views-row div.views-field.views-field-field-tags, div.blog-post div.views-row div.views-field.views-field-created-1 {
  margin-left: 19px;
}
