/* line 3, ../sass/coa-header.scss */
.pane-menu-menu-coa-header {
  background-color: #001421;
}
/* line 5, ../sass/coa-header.scss */
.pane-menu-menu-coa-header ul.menu {
  width: 470px;
  margin: 0 auto !important;
  overflow: hidden;
  line-height: 18px;
  margin: 0;
  padding: 0;
  border: medium none;
  list-style: none outside none;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 10px;
  font-weight: normal;
  text-align: center;
}
/* line 8, ../sass/coa-header.scss */
.pane-menu-menu-coa-header ul.menu li:nth-child(5) a {
  border-right-width: 0;
}
@media (min-width: 880px) {
  /* line 5, ../sass/coa-header.scss */
  .pane-menu-menu-coa-header ul.menu {
    width: 100%;
  }
  /* line 14, ../sass/coa-header.scss */
  .pane-menu-menu-coa-header ul.menu li:nth-child(5) a {
    border-right-width: 1px;
  }
}
/* line 31, ../sass/coa-header.scss */
.pane-menu-menu-coa-header ul.menu li {
  display: inline;
}
/* line 33, ../sass/coa-header.scss */
.pane-menu-menu-coa-header ul.menu li a {
  color: #BDBDBD;
  text-decoration: none;
  text-transform: uppercase;
  border-right: 1px solid rgba(189, 189, 189, 0.8);
  padding: 0 5px;
  letter-spacing: 1px;
  font-weight: bold;
}
/* line 42, ../sass/coa-header.scss */
.pane-menu-menu-coa-header ul.menu li a:hover {
  text-decoration: underline;
}
/* line 45, ../sass/coa-header.scss */
.pane-menu-menu-coa-header ul.menu li a.active {
  color: #fdb813;
  font-weight: bold;
}
/* line 54, ../sass/coa-header.scss */
.pane-menu-menu-coa-header ul.menu li.last a {
  border-right: none;
}
