/* line 3, ../sass/events2.scss */
div.view.events div.views-field.views-field-description {
  margin-left: 10px !important;
}
/* line 5, ../sass/events2.scss */
div.view.events div.views-field.views-field-description td {
  padding-left: 10px;
}
/* line 10, ../sass/events2.scss */
div.view.events div.views-field-title {
  font-size: 14px;
  font-weight: normal;
  white-space: normal !important;
  margin-left: 10px !important;
  overflow: visible !important;
  line-height: 26px !important;
}
/* line 18, ../sass/events2.scss */
div.view.events div.views-field.views-field-field-geofield,
div.view.events div.views-field.views-field-field-phone-num,
div.view.events div.views-field.views-field-field-date-and-time,
div.view.events div.views-field.views-field-field-date-and-time-1,
div.view.events div.views-field.views-field-field-address {
  margin: 0 10px 10px !important;
  padding: 0 !important;
}
/* line 26, ../sass/events2.scss */
div.view.events div.views-field.views-field-field-date-and-time {
  clear: left;
  margin: 10px 10px 0 !important;
}
/* line 31, ../sass/events2.scss */
div.view.events div.views-field.views-field-field-event-loc {
  clear: left;
  margin: 10px 10px 0;
  padding: 0 !important;
  font-size: 16px;
}
