/* line 11, ../sass/footer.scss */
#footer {
  border-bottom: 10px solid #0069aa;
  border-top: 10px solid #0069aa;
  background-color: #174478;
  padding-top: 10px;
  font-size: 12px;
  color: #333;
  float: none;
  clear: both;
}
/* line 17, ../sass/footer.scss */
#footer #mini-panel-footer_container {
  margin: 0 auto !important;
  width: 580px;
  background-image: url("http://austinlibrary.com/images/apl_2014/footer.png?b");
  background-image: none\9;
  background-repeat: no-repeat;
  background-size: 48% auto !important;
  background-position: 100px bottom;
}
@media (min-width: 980px) {
  /* line 17, ../sass/footer.scss */
  #footer #mini-panel-footer_container {
    width: 962px;
  }
}
/* line 20, ../sass/footer.scss */
#footer #mini-panel-footer_container .inside {
  margin-right: 0;
}
/* line 24, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-first {
  width: 580px;
}
/* line 28, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-first #more-than-books {
  width: 220px;
  float: left;
  line-height: 20px;
}
/* line 33, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-first #more-than-books h2.pane-title {
  border: none;
  color: #fdb813;
  font-style: oblique;
  padding: 0;
  background-image: url("http://austinlibrary.com/images/apl_2014/tagline_more_than_books2.png");
  background-repeat: no-repeat;
  font-style: oblique;
  text-indent: -9999px;
  height: 26px;
}
/* line 46, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-first #more-than-books ul {
  padding-left: 5px !important;
}
/* line 50, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-first #more-than-books ul li {
  list-style-type: none;
}
/* line 55, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-first #connect-with-us {
  float: right;
}
/* line 59, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-first #connect-with-us h2.pane-title {
  float: left;
  border: none;
  font-size: small;
  color: white;
  font-weight: normal;
  padding: 0;
}
/* line 68, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-first #connect-with-us ul {
  padding-left: 5px !important;
}
/* line 72, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-first #connect-with-us ul li {
  cursor: pointer;
  float: left;
  margin-right: 5px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 32px auto;
  display: block;
  height: 32px;
  text-indent: -9999px;
  width: 32px;
}
/* line 77, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-first #connect-with-us ul li.menu-mlid-4536 {
  background-image: url("http://austinlibrary.com/images/apl_2014/twitter512.png") !important;
  clear: both;
}
/* line 81, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-first #connect-with-us ul li.menu-mlid-4543 {
  background-image: url("http://austinlibrary.com/images/apl_2014/facebook512.png") !important;
}
/* line 84, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-first #connect-with-us ul li.menu-mlid-4545 {
  background-image: url("http://www.austinlibrary.com/images/apl_2014/plus2.png") !important;
  margin-right: 0;
}
/* line 99, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col {
  float: right;
  margin-right: 18px;
  width: 355px;
}
/* line 107, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-last {
  width: 340px;
  padding-top: 0;
  margin-top: 0;
}
/* line 111, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-last .inside {
  margin: 0;
}
/* line 125, ../sass/footer.scss */
#footer div.panel-col {
  float: left;
  width: 580px;
  float: left;
  min-height: 85px;
}
/* line 126, ../sass/footer.scss */
#footer div.panel-col h2.pane-title {
  border-bottom: none;
  padding-left: 15px;
  font-weight: normal;
  color: white;
}
/* line 133, ../sass/footer.scss */
#footer div.panel-col div.panel-col-first h2.pane-title {
  color: #fdb813;
}
/* line 137, ../sass/footer.scss */
#footer div.panel-col div.panel-col-first ul li:nth-child(2):before {
  color: #fdb813;
  font-size: x-small;
  content: "New! ";
}
/* line 146, ../sass/footer.scss */
#footer div.panel-col div.panel-col-first {
  background-image: none;
  width: 46%;
}
/* line 150, ../sass/footer.scss */
#footer div.panel-col div.panel-col {
  padding-right: 20px;
  width: 160px !important;
  float: right;
  border-left: none !important;
  padding-top: 0 !important;
}
/* line 156, ../sass/footer.scss */
#footer div.panel-col div.panel-col h2.pane-title {
  font-size: small;
}
/* line 164, ../sass/footer.scss */
#footer div.panel-col-last {
  float: right;
  margin-bottom: 0;
}
/* line 168, ../sass/footer.scss */
#footer tbody {
  border: none;
}
/* line 171, ../sass/footer.scss */
#footer a {
  color: white;
}
/* line 178, ../sass/footer.scss */
#footer p {
  margin-left: 19px;
  margin-top: 10px;
}

/* line 184, ../sass/footer.scss */
#bottom_links {
  margin: 0 0 10px 10px;
  height: 40px;
  padding-left: 0;
}
/* line 188, ../sass/footer.scss */
#bottom_links li {
  display: block;
  float: left;
  margin-right: 10px;
}
/* line 192, ../sass/footer.scss */
#bottom_links li:nth-child(3), #bottom_links li:nth-child(4), #bottom_links li:nth-child(5), #bottom_links li:nth-child(6), #bottom_links li:nth-child(7), #bottom_links li:nth-child(8), #bottom_links li:nth-child(9) {
  margin-top: 6px;
}
/* line 202, ../sass/footer.scss */
#bottom_links li:last-child {
  float: right;
  margin-right: 0;
}
