/* line 5, ../sass/footer.scss */
#search_top,
#maincontent + #footer {
  margin: 10px;
}

/* line 9, ../sass/footer.scss */
#footer {
  border-bottom: 10px solid #0069aa;
  border-top: 10px solid #0069aa;
  background-color: #174478;
  font-size: 12px;
  color: #333;
  float: none;
  clear: both;
}
/* line 14, ../sass/footer.scss */
#footer #mini-panel-footer_container {
  margin: 0 auto;
  width: 980px;
  padding: 10px;
  background-image: url("http://localhost:8081/apr9e/sites/all/themes/apl_2014c/images/footer.png");
  background-image: none\9;
  background-repeat: no-repeat;
  background-size: 48% auto !important;
  background-position: 100px bottom;
}
/* line 17, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-first {
  margin-left: 5px;
  width: 580px;
}
/* line 22, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-first #more-than-books {
  width: 220px;
  float: left;
}
/* line 25, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-first #more-than-books h2.pane-title {
  border: none;
  color: #fdb813;
  font-style: oblique;
  padding: 0;
  background-image: url("http://localhost:8081/apr9e/sites/all/themes/apl_2014c/images/tagline_more_than_books2.png");
  background-repeat: no-repeat;
  font-style: oblique;
  text-indent: -9999px;
  height: 26px;
}
/* line 39, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-first #more-than-books ul {
  padding-left: 5px !important;
}
/* line 42, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-first #more-than-books ul li {
  list-style-type: none;
}
/* line 46, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-first #connect-with-us {
  float: right;
  margin-right: 20px;
}
/* line 49, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-first #connect-with-us h2.pane-title {
  float: left;
  border: none;
  font-size: small;
  color: white;
  font-weight: normal;
  padding: 0;
}
/* line 57, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-first #connect-with-us ul {
  padding-left: 5px !important;
}
/* line 60, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-first #connect-with-us ul li {
  cursor: pointer;
  float: left;
  margin-right: 5px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 32px auto;
  display: block;
  height: 32px;
  text-indent: -9999px;
  width: 32px;
}
/* line 65, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-first #connect-with-us ul li.menu-mlid-4536 {
  background-image: url("http://austinlibrary.com/images/twitter512.png") !important;
  clear: both;
}
/* line 69, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-first #connect-with-us ul li.menu-mlid-4543 {
  background-image: url("http://austinlibrary.com/images/facebook512.png") !important;
}
/* line 72, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-first #connect-with-us ul li.menu-mlid-4545 {
  background-image: url("http://austinlibrary.com/images/googleplus512.png") !important;
  margin-right: 0;
}
/* line 86, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col {
  border-left: 1px dotted white;
  float: right;
  margin-right: 18px;
  padding: 10px 0 10px 10px;
  width: 355px;
}
/* line 93, ../sass/footer.scss */
#footer #mini-panel-footer_container div.panel-col-last {
  width: 340px;
  margin-right: 20px;
  padding-top: 0;
  margin-top: 0;
}
/* line 107, ../sass/footer.scss */
#footer #mini-panel-footer_container .panel-col-last {
  border-left: 1px dotted #FFFFFF;
  padding-left: 20px;
}
/* line 114, ../sass/footer.scss */
#footer div.panel-col {
  float: left;
  width: 580px;
  float: left;
  min-height: 85px;
}
/* line 115, ../sass/footer.scss */
#footer div.panel-col h2.pane-title {
  border-bottom: none;
  padding-left: 15px;
  font-weight: normal;
  color: white;
}
/* line 122, ../sass/footer.scss */
#footer div.panel-col div.panel-col-first h2.pane-title {
  color: #fdb813;
}
/* line 126, ../sass/footer.scss */
#footer div.panel-col div.panel-col-first ul li:nth-child(2):before {
  color: #fdb813;
  font-size: x-small;
  content: "New! ";
}
/* line 135, ../sass/footer.scss */
#footer div.panel-col div.panel-col-first {
  background-image: none;
  width: 46%;
}
/* line 139, ../sass/footer.scss */
#footer div.panel-col div.panel-col {
  padding-right: 20px;
  width: 160px !important;
  float: right;
  border-left: none !important;
  padding-top: 0 !important;
}
/* line 145, ../sass/footer.scss */
#footer div.panel-col div.panel-col h2.pane-title {
  font-size: small;
}
/* line 153, ../sass/footer.scss */
#footer div.panel-col-last {
  float: right;
  margin-bottom: 0;
}
/* line 157, ../sass/footer.scss */
#footer tbody {
  border: none;
}
/* line 161, ../sass/footer.scss */
#footer a {
  color: white;
}
/* line 169, ../sass/footer.scss */
#footer p {
  margin-left: 19px;
  margin-top: 10px;
}

/* line 175, ../sass/footer.scss */
#bottom_links {
  margin: 0 0 10px 10px;
  height: 40px;
  padding-left: 0;
}
/* line 180, ../sass/footer.scss */
#bottom_links li {
  display: block;
  float: left;
  margin-right: 10px;
}
/* line 191, ../sass/footer.scss */
#bottom_links li:nth-child(3), #bottom_links li:nth-child(4), #bottom_links li:nth-child(5), #bottom_links li:nth-child(6), #bottom_links li:nth-child(7), #bottom_links li:nth-child(8), #bottom_links li:nth-child(9) {
  margin-top: 6px;
}
/* line 194, ../sass/footer.scss */
#bottom_links li:last-child {
  float: right;
  margin-right: 0;
}
