/* line 3, ../sass/header.scss */
body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 0;
}
/* line 9, ../sass/header.scss */
body #header {
  margin: 0 auto;
  padding: 0 !important;
}

/* line 16, ../sass/header.scss */
#header h2.pane-title {
  display: none;
}

/* line 21, ../sass/header.scss */
#page, .region-bottom {
  max-width: none !important;
}

/* line 25, ../sass/header.scss */
div#mini-panel-apl_2014_top {
  background-color: white;
}
/* line 29, ../sass/header.scss */
div#mini-panel-apl_2014_top .panel-col-top,
div#mini-panel-apl_2014_top .center-wrapper,
div#mini-panel-apl_2014_top .panel-col-bottom {
  margin: 0;
}
/* line 33, ../sass/header.scss */
div#mini-panel-apl_2014_top .panel-col-top,
div#mini-panel-apl_2014_top .panel-col-bottom {
  width: 100%;
}
/* line 37, ../sass/header.scss */
div#mini-panel-apl_2014_top .center-wrapper {
  min-height: 100px;
  position: relative;
}
/* line 42, ../sass/header.scss */
div#mini-panel-apl_2014_top .center-wrapper a#apl_logo_a {
  display: block;
  height: 100px;
  width: 100px;
}
