/* line 3, ../sass/header.scss */
body {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* line 10, ../sass/header.scss */
body,
div,
#header {
  margin: 0 auto;
  padding: 0;
}

/* line 16, ../sass/header.scss */
#header h2.pane-title {
  display: none;
}

/* line 21, ../sass/header.scss */
#page, .region-bottom {
  max-width: none !important;
}

/* line 25, ../sass/header.scss */
div#mini-panel-apl_2014_top {
  background-color: white;
}
/* line 29, ../sass/header.scss */
div#mini-panel-apl_2014_top .panel-col-top,
div#mini-panel-apl_2014_top .panel-col-bottom {
  width: 100%;
}
/* line 33, ../sass/header.scss */
div#mini-panel-apl_2014_top .center-wrapper {
  min-height: 72px;
  position: relative;
}
/* line 36, ../sass/header.scss */
div#mini-panel-apl_2014_top .center-wrapper a#apl_logo_a {
  display: block;
  height: 100px;
  width: 100px;
}
/* line 44, ../sass/header.scss */
div#mini-panel-apl_2014_top .panel-col-bottom {
  background-color: #0069aa;
}
/* line 47, ../sass/header.scss */
div#mini-panel-apl_2014_top .panel-col-bottom ul.menu li {
  border-bottom: 3px solid #0069aa;
  display: inline-block;
}
/* line 51, ../sass/header.scss */
div#mini-panel-apl_2014_top .panel-col-bottom ul.menu li a {
  color: white;
  font-size: 1.4em;
  text-transform: none;
}
/* line 56, ../sass/header.scss */
div#mini-panel-apl_2014_top .panel-col-bottom ul.menu li a:hover {
  text-decoration: none;
  background-color: white;
  color: #0069aa;
}
