/*
#mini-panel-highlighted_images_calendar {
    min-height: 320px;
	margin: 0 auto !important;
	max-width: 980px;
}
*/
/* line 14, ../sass/highlighted.scss */
#views_slideshow_cycle_main_clone_of_highlighted_images-panel_pane_8 {
  position: relative;
}
/* line 16, ../sass/highlighted.scss */
#views_slideshow_cycle_main_clone_of_highlighted_images-panel_pane_8 .views-field.views-field-title {
  z-index: 10;
  font-weight: bold;
  font-size: 16px;
  bottom: 40px;
  padding-top: 3px;
  padding-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 485px;
}
/* line 29, ../sass/highlighted.scss */
#views_slideshow_cycle_main_clone_of_highlighted_images-panel_pane_8 .views-field.views-field-body {
  bottom: 19px;
  z-index: 10;
  padding-left: 10px;
}
/* line 34, ../sass/highlighted.scss */
#views_slideshow_cycle_main_clone_of_highlighted_images-panel_pane_8 div.views-field-field-highlighted-image {
  z-index: 8;
  position: relative;
}

/* line 40, ../sass/highlighted.scss */
div.pane-content div.view div.view-content div.skin-default
div#apl-slideshow
div.views-slideshow-cycle-main-frame-row-item div.views-field div.field-content img {
  width: 580px;
  height: 272px;
}

/* line 46, ../sass/highlighted.scss */
.view-clone-of-news.view-display-id-panel_pane_9.messages {
  margin-bottom: 10px;
}

/* line 50, ../sass/highlighted.scss */
.views_slideshow_pager_field_item {
  float: left;
  margin-right: 2px !important;
  margin-bottom: 2px !important;
  background-color: silver;
  min-width: 8px;
  max-width: 8px;
  min-height: 8px;
  max-height: 8px;
  border-radius: 8px;
  overflow: hidden;
  opacity: .85;
}
/* line 62, ../sass/highlighted.scss */
.views_slideshow_pager_field_item a {
  font-size: 0;
}
/* line 65, ../sass/highlighted.scss */
.views_slideshow_pager_field_item.active, .views_slideshow_pager_field_item:hover {
  background-color: #0088dd;
  opacity: 1;
  cursor: pointer;
}

/* line 73, ../sass/highlighted.scss */
div#apl-slideshow .views-content-title {
  font-size: 0;
}

/* line 78, ../sass/highlighted.scss */
div.view-display-id-panel_pane_1 div.views-field-field-highlighted-image div.field-content img {
  border-top-left-radius: 10px;
  width: 940px;
}

/* line 84, ../sass/highlighted.scss */
body #mini-panel-news div.views-field-field-main-image img {
  width: inherit;
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
}
/* line 93, ../sass/highlighted.scss */
body div.jcarousel-skin-default ul.bookSlide {
  margin-left: -4px !important;
}
/* line 96, ../sass/highlighted.scss */
body div.jcarousel-skin-default a.jcarousel-next-horizontal {
  background: none;
  position: absolute;
  right: -15px;
  top: 50px;
  border-style: solid;
  border-width: 12px 0 12px 12px;
  border-color: transparent green transparent #0069aa;
  width: 0;
  height: 0;
}
/* line 106, ../sass/highlighted.scss */
body div.jcarousel-skin-default a.jcarousel-next-horizontal:hover {
  border-color: transparent green transparent #0088dd;
  background: none;
}
/* line 111, ../sass/highlighted.scss */
body div.jcarousel-skin-default a.jcarousel-prev-horizontal {
  background-position: 0 0;
  left: -15px;
  position: absolute;
  top: 50px;
  border: 20px solid green;
  background: none;
  position: absolute;
  top: 50px;
  border-style: solid;
  border-width: 12px 12px 12px 0;
  border-color: transparent #0069aa transparent #0069aa;
  width: 0;
  height: 0;
}
/* line 125, ../sass/highlighted.scss */
body div.jcarousel-skin-default a.jcarousel-prev-horizontal:hover {
  border-color: transparent #0088dd transparent transparent;
  background: none;
}
/* line 130, ../sass/highlighted.scss */
body div.jcarousel-skin-default div.jcarousel-clip-horizontal {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}
/* line 135, ../sass/highlighted.scss */
body div.jcarousel-skin-default div.jcarousel-container-horizontal {
  height: 162px;
  margin: 0;
  padding: 0;
  width: auto;
}
