/* line 3, ../sass/html.scss */
a:link,
a:hover {
  color: #0069aa;
}

/* line 7, ../sass/html.scss */
a:link {
  text-decoration: none;
}

/* line 11, ../sass/html.scss */
a:hover {
  text-decoration: underline;
}

/* line 15, ../sass/html.scss */
a:visited {
  color: #4c2a90;
}

/* line 19, ../sass/html.scss */
.views-label-field-event-loc a,
.views-field-field-event-loc span.field-content a {
  color: black;
  font-style: normal;
}
/* line 23, ../sass/html.scss */
.views-label-field-event-loc a:hover,
.views-field-field-event-loc span.field-content a:hover {
  text-decoration: underline;
  color: #0069aa;
}
/* line 27, ../sass/html.scss */
.views-label-field-event-loc a:visited:hover,
.views-field-field-event-loc span.field-content a:visited:hover {
  color: #4c2a90;
}

/* line 32, ../sass/html.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 37, ../sass/html.scss */
html {
  height: 100%;
}

/* line 41, ../sass/html.scss */
body {
  font: 13px Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
}

/* line 47, ../sass/html.scss */
body > div {
  background-image: none !important;
  background-color: white;
}

/* line 52, ../sass/html.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3em;
}

/* line 60, ../sass/html.scss */
h1 {
  font-size: 2.2em;
  font-weight: bold;
  padding: 12px 0 0px 0px;
  margin: 0;
  color: #0069aa;
}

/* line 68, ../sass/html.scss */
h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0.75em;
}

/* line 74, ../sass/html.scss */
h3 {
  margin-top: 1em;
}

/* line 78, ../sass/html.scss */
h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

/* line 83, ../sass/html.scss */
h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 89, ../sass/html.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 94, ../sass/html.scss */
p {
  margin-bottom: 10px;
}
/* line 96, ../sass/html.scss */
p#skip-link {
  margin-bottom: 0;
}

/* line 101, ../sass/html.scss */
ul,
ol {
  margin-left: 0;
  padding-left: 2em;
}

/* line 107, ../sass/html.scss */
table {
  width: 99%;
}

/* line 113, ../sass/html.scss */
tr.even td,
tr.odd td {
  padding: 10px 5px;
}

/* line 118, ../sass/html.scss */
tr.odd {
  background-color: white;
}

/* line 122, ../sass/html.scss */
pre,
code,
tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 129, ../sass/html.scss */
pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

/* line 137, ../sass/html.scss */
ul {
  list-style-type: disc;
}
/* line 139, ../sass/html.scss */
ul ul {
  list-style-type: circle;
}
/* line 141, ../sass/html.scss */
ul ul ul {
  list-style-type: square;
}
/* line 143, ../sass/html.scss */
ul ul ul ul {
  list-style-type: circle;
}

/* line 150, ../sass/html.scss */
ol {
  list-style-type: decimal;
}
/* line 152, ../sass/html.scss */
ol ol {
  list-style-type: lower-alpha;
}
/* line 154, ../sass/html.scss */
ol ol ol {
  list-style-type: decimal;
}

/* line 160, ../sass/html.scss */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}
