/* line 48, ../sass/info-guides.scss */
body.info-guides .pane-token.pane-node-body {
  clear: left;
  padding-top: 5px;
}

/* line 55, ../sass/info-guides.scss */
body.page-new-information-guides div#content-area,
body.section-information-guide-subjects div#content-area {
  margin-top: 10px;
}
/* line 56, ../sass/info-guides.scss */
body.page-new-information-guides div#content-area p.nav,
body.section-information-guide-subjects div#content-area p.nav {
  background-color: #e8e8e8;
  display: inline-block;
  padding: 5px;
}
/* line 63, ../sass/info-guides.scss */
body.page-new-information-guides div.panels-flexible-region,
body.section-information-guide-subjects div.panels-flexible-region {
  width: 940px;
  padding: 0;
  margin: 0;
}
/* line 68, ../sass/info-guides.scss */
body.page-new-information-guides div.views-row,
body.section-information-guide-subjects div.views-row {
  float: left;
  display: block;
  margin-right: 20px;
  width: 218px;
}
/* line 69, ../sass/info-guides.scss */
body.page-new-information-guides div.views-row + div.views-row + div.views-row + div.views-row,
body.section-information-guide-subjects div.views-row + div.views-row + div.views-row + div.views-row {
  margin-right: 0;
}
/* line 71, ../sass/info-guides.scss */
body.page-new-information-guides div.views-row + div.views-row + div.views-row + div.views-row + div.views-row,
body.section-information-guide-subjects div.views-row + div.views-row + div.views-row + div.views-row + div.views-row {
  margin-right: 20px;
}
/* line 73, ../sass/info-guides.scss */
body.page-new-information-guides div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row,
body.section-information-guide-subjects div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row {
  margin-right: 0;
}
/* line 75, ../sass/info-guides.scss */
body.page-new-information-guides div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row,
body.section-information-guide-subjects div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row {
  margin-right: 20px;
}
/* line 77, ../sass/info-guides.scss */
body.page-new-information-guides div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row,
body.section-information-guide-subjects div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row + div.views-row {
  margin-right: 0;
}
/* line 89, ../sass/info-guides.scss */
body.page-new-information-guides div.views-row div a,
body.section-information-guide-subjects div.views-row div a {
  background-color: #0069aa;
  border: 1px solid transparent;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: inline-block;
  padding: 10px;
  font-size: large;
  width: 200px;
  min-height: 60px;
  margin: 0 20px 20px 0;
  color: white;
}
/* line 90, ../sass/info-guides.scss */
body.page-new-information-guides div.views-row div a:hover,
body.section-information-guide-subjects div.views-row div a:hover {
  background-color: #0088dd;
  color: white;
}
/* line 106, ../sass/info-guides.scss */
body.page-new-information-guides div.views-row div a span.field-content,
body.section-information-guide-subjects div.views-row div a span.field-content {
  background-color: #e8e8e8;
  border-bottom: 1px dotted red;
  border-top-right-radius: 10px;
  display: block;
  padding: 5px;
}
/* line 113, ../sass/info-guides.scss */
body.page-new-information-guides div.views-row div a div,
body.section-information-guide-subjects div.views-row div a div {
  margin: 0;
  padding: 0;
}
/* line 117, ../sass/info-guides.scss */
body.page-new-information-guides div.views-row div a:nth-child(2n),
body.section-information-guide-subjects div.views-row div a:nth-child(2n) {
  background-color: silver;
}
/* line 120, ../sass/info-guides.scss */
body.page-new-information-guides div.views-row div a:nth-child(3n),
body.section-information-guide-subjects div.views-row div a:nth-child(3n) {
  background-color: green;
}
/* line 123, ../sass/info-guides.scss */
body.page-new-information-guides div.views-row div a:nth-child(4n),
body.section-information-guide-subjects div.views-row div a:nth-child(4n) {
  background-color: yellow;
}
/* line 126, ../sass/info-guides.scss */
body.page-new-information-guides div.views-row div a:nth-child(5n),
body.section-information-guide-subjects div.views-row div a:nth-child(5n) {
  margin-right: 0 !important;
  background-color: red;
  float: right;
}

/* line 135, ../sass/info-guides.scss */
div#info-guides p.nav {
  background-color: #e8e8e8;
  display: inline-block;
  padding: 5px;
}
/* line 143, ../sass/info-guides.scss */
div#info-guides .pane-new-information-guides-panel-pane-1 {
  margin-bottom: 20px;
}
/* line 146, ../sass/info-guides.scss */
div#info-guides div.panel-col-top ul {
  margin: 10px auto !important;
  padding: 0 !important;
}
/* line 149, ../sass/info-guides.scss */
div#info-guides div.panel-col-top ul li {
  float: left;
  margin: 0 0 0 2px;
  border: 4px solid #e1eaf0;
  list-style-type: none;
  background-color: #0069aa;
}
/* line 155, ../sass/info-guides.scss */
div#info-guides div.panel-col-top ul li:hover {
  background-color: #0088dd;
}
/* line 158, ../sass/info-guides.scss */
div#info-guides div.panel-col-top ul li a {
  padding: 5px 10px;
  color: #fdb813;
  font-weight: bold;
}
/* line 165, ../sass/info-guides.scss */
div#info-guides ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 10px;
}
/* line 169, ../sass/info-guides.scss */
div#info-guides ul li {
  margin-top: 10px;
  border-bottom: 1px dotted #e1eaf0;
}
/* line 172, ../sass/info-guides.scss */
div#info-guides ul li ul {
  margin-top: -10px;
}
/* line 177, ../sass/info-guides.scss */
div#info-guides div.panel-separator {
  margin: 0;
  max-height: 0;
  display: none;
}
/* line 182, ../sass/info-guides.scss */
div#info-guides div.panel-col-first {
  max-width: 25%;
  margin-right: 20px;
  width: 225px !important;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 18, ../sass/info-guides.scss */
div#info-guides div.panel-col-first div.inside {
  max-width: 100%;
  margin: 0;
}
/* line 21, ../sass/info-guides.scss */
div#info-guides div.panel-col-first div.inside img, div#info-guides div.panel-col-first div.inside iframe {
  max-width: 100%;
  height: auto !important;
}
/* line 25, ../sass/info-guides.scss */
div#info-guides div.panel-col-first div.inside div.pane-content {
  width: auto;
  padding: 0 5px;
}
/* line 190, ../sass/info-guides.scss */
div#info-guides div.panel-col-first div.pane-node-field-left-box-1-title,
div#info-guides div.panel-col-first div.pane-node-field-left-box-2-title,
div#info-guides div.panel-col-first div.pane-node-field-left-box-3-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 600;
  padding: 5px;
  font-size: 1.25em;
  border-bottom: 2px solid white;
  background-color: #0069aa;
  color: #f2f2f2;
}
/* line 195, ../sass/info-guides.scss */
div#info-guides div.panel-col-first div.pane-node-field-left-box-1-body,
div#info-guides div.panel-col-first div.pane-node-field-left-box-2-body,
div#info-guides div.panel-col-first div.pane-node-field-left-box-3-body {
  margin-bottom: 10px !important;
  padding: 5px;
  background-color: #f8f8f8;
  border-bottom: 4px double white;
  border: 1px solid #e1eaf0 !important;
}
/* line 199, ../sass/info-guides.scss */
div#info-guides div.panel-col-first div.pane-node-field-left-box-1-body ul li,
div#info-guides div.panel-col-first div.pane-node-field-left-box-2-body ul li,
div#info-guides div.panel-col-first div.pane-node-field-left-box-3-body ul li {
  padding-bottom: 10px;
}
/* line 200, ../sass/info-guides.scss */
div#info-guides div.panel-col-first div.pane-node-field-left-box-1-body ul li:nth-last-child(1),
div#info-guides div.panel-col-first div.pane-node-field-left-box-2-body ul li:nth-last-child(1),
div#info-guides div.panel-col-first div.pane-node-field-left-box-3-body ul li:nth-last-child(1) {
  border-bottom: 0px solid white;
}
/* line 207, ../sass/info-guides.scss */
div#info-guides div.panel-col {
  max-width: 49%;
  width: 440px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* line 18, ../sass/info-guides.scss */
div#info-guides div.panel-col div.inside {
  max-width: 100%;
  margin: 0;
}
/* line 21, ../sass/info-guides.scss */
div#info-guides div.panel-col div.inside img, div#info-guides div.panel-col div.inside iframe {
  max-width: 100%;
  height: auto !important;
}
/* line 25, ../sass/info-guides.scss */
div#info-guides div.panel-col div.inside div.pane-content {
  width: auto;
  padding: 0 5px;
}
/* line 214, ../sass/info-guides.scss */
div#info-guides div.panel-col div.pane-node-field-center-box-1-title,
div#info-guides div.panel-col div.pane-node-field-center-box-2-title,
div#info-guides div.panel-col div.pane-node-field-center-box-3-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 600;
  padding: 5px;
  font-size: 1.25em;
  border-bottom: 2px solid white;
  background-color: #0069aa;
  color: #f2f2f2;
}
/* line 219, ../sass/info-guides.scss */
div#info-guides div.panel-col div.pane-node-field-center-box-1-body,
div#info-guides div.panel-col div.pane-node-field-center-box-2-body,
div#info-guides div.panel-col div.pane-node-field-center-box-3-body {
  margin-bottom: 10px !important;
  padding: 5px;
  background-color: #f8f8f8;
  border-bottom: 4px double white;
  border: 1px solid #e1eaf0 !important;
}
/* line 223, ../sass/info-guides.scss */
div#info-guides div.panel-col div.pane-node-field-center-box-1-body ul li,
div#info-guides div.panel-col div.pane-node-field-center-box-2-body ul li,
div#info-guides div.panel-col div.pane-node-field-center-box-3-body ul li {
  padding-bottom: 10px;
}
/* line 228, ../sass/info-guides.scss */
div#info-guides div.panel-col-last {
  max-width: 25%;
  width: 220px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 18, ../sass/info-guides.scss */
div#info-guides div.panel-col-last div.inside {
  max-width: 100%;
  margin: 0;
}
/* line 21, ../sass/info-guides.scss */
div#info-guides div.panel-col-last div.inside img, div#info-guides div.panel-col-last div.inside iframe {
  max-width: 100%;
  height: auto !important;
}
/* line 25, ../sass/info-guides.scss */
div#info-guides div.panel-col-last div.inside div.pane-content {
  width: auto;
  padding: 0 5px;
}
/* line 234, ../sass/info-guides.scss */
div#info-guides div.panel-col-last div.pane-node-field-right-box-1-title,
div#info-guides div.panel-col-last div.pane-node-field-right-box-2-title,
div#info-guides div.panel-col-last div.pane-node-field-right-box-3-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 600;
  padding: 5px;
  font-size: 1.25em;
  border-bottom: 2px solid white;
  background-color: #0069aa;
  color: #f2f2f2;
}
/* line 239, ../sass/info-guides.scss */
div#info-guides div.panel-col-last div.pane-node-field-right-box-1-body,
div#info-guides div.panel-col-last div.pane-node-field-right-box-2-body,
div#info-guides div.panel-col-last div.pane-node-field-right-box-3-body {
  margin-bottom: 10px !important;
  padding: 5px;
  background-color: #f8f8f8;
  border-bottom: 4px double white;
  border: 1px solid #e1eaf0 !important;
}
/* line 243, ../sass/info-guides.scss */
div#info-guides div.panel-col-last div.pane-node-field-right-box-1-body ul li,
div#info-guides div.panel-col-last div.pane-node-field-right-box-2-body ul li,
div#info-guides div.panel-col-last div.pane-node-field-right-box-3-body ul li {
  padding-bottom: 10px;
}
/* line 244, ../sass/info-guides.scss */
div#info-guides div.panel-col-last div.pane-node-field-right-box-1-body ul li:nth-last-child(1),
div#info-guides div.panel-col-last div.pane-node-field-right-box-2-body ul li:nth-last-child(1),
div#info-guides div.panel-col-last div.pane-node-field-right-box-3-body ul li:nth-last-child(1) {
  border-bottom: 0px solid white;
}
