/* line 4, ../sass/messages-2014.scss */
div.messages.warning {
  color: #001421;
}
/* line 7, ../sass/messages-2014.scss */
div.messages.status {
  border: none;
}

/* line 13, ../sass/messages-2014.scss */
div#block-block-26 h2 {
  display: none;
}

/* line 18, ../sass/messages-2014.scss */
div.region-top-navigation {
  margin-bottom: 10px;
}

/* line 22, ../sass/messages-2014.scss */
#block-panels-mini-clone-of-messages {
  margin: 0 0 10px 0 !important;
}
/* line 24, ../sass/messages-2014.scss */
#block-panels-mini-clone-of-messages #mini-panel-clone_of_messages {
  margin-bottom: 0;
}

/* line 28, ../sass/messages-2014.scss */
div.error, label.error {
  color: #001421 !important;
}

/* line 31, ../sass/messages-2014.scss */
div.messages {
  margin: 5px 0;
}

/* line 36, ../sass/messages-2014.scss */
.region-help {
  margin: 0;
  padding: 0;
}
/* line 39, ../sass/messages-2014.scss */
.region-help div {
  padding: 0;
  margin: 0;
}
/* line 43, ../sass/messages-2014.scss */
.region-help h2 {
  margin-bottom: .3em;
}

/* line 50, ../sass/messages-2014.scss */
div.messages {
  background-position: 5px 1px;
  background-repeat: no-repeat;
  padding: 5px 10px 5px 35px;
}

/* line 56, ../sass/messages-2014.scss */
div.status {
  background-image: url(../../../../../misc/message-24-ok.png);
  border-color: #a6b839;
  background-color: #e7ea7f;
  border: 1px solid #a6b839;
}

/* line 61, ../sass/messages-2014.scss */
div.status,
.ok {
  color: #345729;
}

/* line 65, ../sass/messages-2014.scss */
div.status,
table tr.ok {
  background-color: #e7ea7f;
}

/* line 70, ../sass/messages-2014.scss */
div.warning {
  background-image: url(../../../../../misc/message-24-warning.png);
  border: none !important;
}

/* line 75, ../sass/messages-2014.scss */
div.warning,
.warning {
  color: #da8c28;
}

/* line 79, ../sass/messages-2014.scss */
div#mini-panel-clone_of_messages {
  background-color: #fdb813;
}

/* line 82, ../sass/messages-2014.scss */
div.warning,
table tr.warning {
  background-color: #fdb813;
  border-bottom-left-radius: 0 !important;
}

/* line 88, ../sass/messages-2014.scss */
div.error {
  background-image: url(../../../../../misc/message-24-error.png);
  border-color: #ed541d;
}

/* line 92, ../sass/messages-2014.scss */
div.error,
.error {
  color: #8c2e0b;
}

/* line 96, ../sass/messages-2014.scss */
div.error,
table tr.error {
  background-color: #fef5f1;
}

/* line 100, ../sass/messages-2014.scss */
div.error p.error {
  color: #333333;
}

/* line 104, ../sass/messages-2014.scss */
div.messages ul {
  margin: 0 0 0 1em;
  /* LTR */
  padding: 0;
}

/* line 108, ../sass/messages-2014.scss */
div.messages ul li {
  list-style-image: none;
}
