/* line 4, ../sass/newsletter.scss */
br.spacer {
  clear: both;
}

/* line 12, ../sass/newsletter.scss */
body.page-apl-blanco .pane-custom.pane-1 div.pane-content,
body.page-apl-blanco .pane-block-13 div.pane-content {
  width: 100% !important;
}

/* line 19, ../sass/newsletter.scss */
#mc_embed_signup #signup_box {
  padding-bottom: 0;
}
/* line 22, ../sass/newsletter.scss */
#mc_embed_signup form {
  display: block;
  margin: 0;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 30, ../sass/newsletter.scss */
#mc_embed_signup h2 {
  font-weight: bold;
  padding: 0;
  margin: 15px 0;
  font-size: 1.4em;
}
/* line 36, ../sass/newsletter.scss */
#mc_embed_signup input {
  border: 1px solid #0069aa;
  -webkit-appearance: none;
}
/* line 39, ../sass/newsletter.scss */
#mc_embed_signup input.email {
  width: 256px;
  padding: 5px;
  border: 1px solid #0069aa;
  height: 16px;
  float: right;
}
/* line 43, ../sass/newsletter.scss */
#mc_embed_signup input.button {
  width: 50px;
  background-color: #0069aa;
  border: 1px solid transparent;
  color: white;
  font-weight: bold;
  max-height: 30px;
  height: 28px;
  margin: 0;
  float: right;
}
/* line 75, ../sass/_patterns.scss */
#mc_embed_signup input.button:hover {
  background-color: #0088dd;
  cursor: pointer;
}
/* line 50, ../sass/newsletter.scss */
#mc_embed_signup input[type=checkbox] {
  -webkit-appearance: checkbox;
}
/* line 53, ../sass/newsletter.scss */
#mc_embed_signup input[type=radio] {
  -webkit-appearance: radio;
}
/* line 56, ../sass/newsletter.scss */
#mc_embed_signup .small-meta {
  font-size: 11px;
}
/* line 59, ../sass/newsletter.scss */
#mc_embed_signup .nowrap {
  white-space: nowrap;
}
/* line 62, ../sass/newsletter.scss */
#mc_embed_signup .clear {
  clear: none;
  display: inline;
}
/* line 66, ../sass/newsletter.scss */
#mc_embed_signup label {
  display: block;
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: bold;
  color: #C08C2C;
}
/* line 72, ../sass/newsletter.scss */
#mc_embed_signup label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
  padding: .5em 0;
}
/* line 81, ../sass/newsletter.scss */
#mc_embed_signup div#mce-responses {
  float: left;
  top: -1.4em;
  padding: 0em .5em 0em .5em;
  overflow: hidden;
  width: 90%;
  margin: 0 5%;
  clear: both;
}
/* line 90, ../sass/newsletter.scss */
#mc_embed_signup div.response {
  margin: 1em 0;
  padding: 1em .5em .5em 0;
  font-weight: bold;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 80%;
}
/* line 99, ../sass/newsletter.scss */
#mc_embed_signup #mce-error-response {
  display: none;
}
/* line 102, ../sass/newsletter.scss */
#mc_embed_signup #mce-success-response {
  color: #529214;
  display: none;
}
