/* line 3, ../sass/news.scss */
.pane-news {
  border: 1px solid #efefef;
  margin-bottom: 10px;
  padding: 0 10px !important;
}
/* line 8, ../sass/news.scss */
.pane-news h2.pane-title {
  border-bottom: 0;
}
/* line 11, ../sass/news.scss */
.pane-news .field-content > p {
  color: red !important;
  padding: 5px;
}
/* line 16, ../sass/news.scss */
.pane-news .field-content > p a {
  color: red !important;
}
/* line 24, ../sass/news.scss */
.pane-news .views-row {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #efefef;
}
/* line 32, ../sass/news.scss */
.pane-news .views-field.views-field-body {
  font-size: large;
}
/* line 34, ../sass/news.scss */
.pane-news .views-field.views-field-body p {
  margin-bottom: 0;
}

/* line 41, ../sass/news.scss */
div.pane-news-panel-pane-7 p {
  margin-bottom: 5px;
}
