/* line 3, ../sass/news-2014.scss */
div.news-sticky-img {
  border: 1px solid #fdb813;
}
/* line 6, ../sass/news-2014.scss */
div.news-sticky-img div.views-row {
  border-bottom: none;
  padding: 0;
}
/* line 10, ../sass/news-2014.scss */
div.news-sticky-img div.views-row .views-field-body .field-content p {
  padding: 0 5px 5px;
}

/* line 16, ../sass/news-2014.scss */
div.news-sticky {
  font-size: 20px;
}
/* line 17, ../sass/news-2014.scss */
div.news-sticky a {
  color: red !important;
}

/* line 27, ../sass/news-2014.scss */
.pane-news {
  border: 1px solid #efefef;
  margin-bottom: 10px;
  padding: 0 10px !important;
}
/* line 31, ../sass/news-2014.scss */
.pane-news h2.pane-title {
  border-bottom: 0;
}
/* line 37, ../sass/news-2014.scss */
.pane-news .views-row {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #efefef;
}
/* line 45, ../sass/news-2014.scss */
.pane-news .views-field.views-field-body {
  font-size: 20px;
  line-height: 1.5em;
}
/* line 48, ../sass/news-2014.scss */
.pane-news .views-field.views-field-body p {
  margin-bottom: 0;
}

/* line 55, ../sass/news-2014.scss */
div.pane-news-panel-pane-7 p {
  margin-bottom: 5px;
}
