/* line 5, ../sass/nicer-menus.scss */
div#mini-panel-apl_2014_top div.panel-col-bottom li {
  margin-right: 5px !important;
}
/* line 7, ../sass/nicer-menus.scss */
div#mini-panel-apl_2014_top div.panel-col-bottom li:last-child {
  margin-right: 0 !important;
}
/* line 10, ../sass/nicer-menus.scss */
div#mini-panel-apl_2014_top div.panel-col-bottom li a {
  padding: 3px 9px 6px !important;
  margin-left: -8px;
}
/* line 14, ../sass/nicer-menus.scss */
div#mini-panel-apl_2014_top div.panel-col-bottom li:hover > a,
div#mini-panel-apl_2014_top div.panel-col-bottom li a.qtip-hover, div#mini-panel-apl_2014_top div.panel-col-bottom li.over > a {
  background-color: white;
  color: #0069aa !important;
}

/* line 27, ../sass/nicer-menus.scss */
#block-menu-block-23 div.menu-name-menu-apl-2013-06-20,
#block-nice-menus-1,
#block-nice-menus-2 {
  background-color: #0069aa;
  clear: both;
}
/* line 31, ../sass/nicer-menus.scss */
#block-menu-block-23 div.menu-name-menu-apl-2013-06-20 ul.menu,
#block-nice-menus-1 ul.menu,
#block-nice-menus-2 ul.menu {
  padding-left: 0;
  margin-left: 4px;
}
/* line 37, ../sass/nicer-menus.scss */
#block-menu-block-23 div.menu-name-menu-apl-2013-06-20 ul li a.active,
#block-nice-menus-1 ul li a.active,
#block-nice-menus-2 ul li a.active {
  font-weight: bold;
  background-color: white;
  color: #0069aa;
}
/* line 44, ../sass/nicer-menus.scss */
#block-menu-block-23 div.menu-name-menu-apl-2013-06-20 h2,
#block-nice-menus-1 h2,
#block-nice-menus-2 h2 {
  display: none;
}
/* line 48, ../sass/nicer-menus.scss */
#block-menu-block-23 div.menu-name-menu-apl-2013-06-20 ul li,
#block-nice-menus-1 ul li,
#block-nice-menus-2 ul li {
  border: none;
  margin-left: 1px;
}
/* line 49, ../sass/nicer-menus.scss */
#block-menu-block-23 div.menu-name-menu-apl-2013-06-20 ul li ul,
#block-nice-menus-1 ul li ul,
#block-nice-menus-2 ul li ul {
  clear: both;
  top: 22px;
  border-left: 10px solid #0088dd;
  border-width: 11px 0 0 11px;
  border-color: transparent transparent transparent #0088dd;
}
/* line 56, ../sass/nicer-menus.scss */
#block-menu-block-23 div.menu-name-menu-apl-2013-06-20 ul li ul li,
#block-nice-menus-1 ul li ul li,
#block-nice-menus-2 ul li ul li {
  margin-left: 0;
}
/* line 66, ../sass/nicer-menus.scss */
#block-menu-block-23 div.menu-name-menu-apl-2013-06-20 ul li.active-trail,
#block-nice-menus-1 ul li.active-trail,
#block-nice-menus-2 ul li.active-trail {
  font-weight: bold;
}
/* line 67, ../sass/nicer-menus.scss */
#block-menu-block-23 div.menu-name-menu-apl-2013-06-20 ul li.active-trail > a,
#block-menu-block-23 div.menu-name-menu-apl-2013-06-20 ul li.active-trail a.active,
#block-nice-menus-1 ul li.active-trail > a,
#block-nice-menus-1 ul li.active-trail a.active,
#block-nice-menus-2 ul li.active-trail > a,
#block-nice-menus-2 ul li.active-trail a.active {
  background-color: white;
  color: #0069aa;
  font-weight: bold;
}
/* line 74, ../sass/nicer-menus.scss */
#block-menu-block-23 div.menu-name-menu-apl-2013-06-20 ul li.active-trail ul li a:hover,
#block-nice-menus-1 ul li.active-trail ul li a:hover,
#block-nice-menus-2 ul li.active-trail ul li a:hover {
  color: #0069aa;
}
/* line 81, ../sass/nicer-menus.scss */
#block-menu-block-23 div.menu-name-menu-apl-2013-06-20 ul li.active-trail li a,
#block-nice-menus-1 ul li.active-trail li a,
#block-nice-menus-2 ul li.active-trail li a {
  font-weight: normal;
}
/* line 88, ../sass/nicer-menus.scss */
#block-menu-block-23 div.menu-name-menu-apl-2013-06-20 ul.menu a, #block-menu-block-23 div.menu-name-menu-apl-2013-06-20 ul.nice-menu a,
#block-nice-menus-1 ul.menu a,
#block-nice-menus-1 ul.nice-menu a,
#block-nice-menus-2 ul.menu a,
#block-nice-menus-2 ul.nice-menu a {
  padding: 3px 5px;
}
/* line 92, ../sass/nicer-menus.scss */
#block-menu-block-23 div.menu-name-menu-apl-2013-06-20 ul.menu, #block-menu-block-23 div.menu-name-menu-apl-2013-06-20 ul.nice-menu-down,
#block-nice-menus-1 ul.menu,
#block-nice-menus-1 ul.nice-menu-down,
#block-nice-menus-2 ul.menu,
#block-nice-menus-2 ul.nice-menu-down {
  clear: left;
  float: none;
  margin-left: 4px;
}
/* line 97, ../sass/nicer-menus.scss */
#block-menu-block-23 div.menu-name-menu-apl-2013-06-20 ul.menu > li, #block-menu-block-23 div.menu-name-menu-apl-2013-06-20 ul.nice-menu-down > li,
#block-nice-menus-1 ul.menu > li,
#block-nice-menus-1 ul.nice-menu-down > li,
#block-nice-menus-2 ul.menu > li,
#block-nice-menus-2 ul.nice-menu-down > li {
  padding-right: 10px;
}
/* line 101, ../sass/nicer-menus.scss */
#block-menu-block-23 div.menu-name-menu-apl-2013-06-20 ul li,
#block-nice-menus-1 ul li,
#block-nice-menus-2 ul li {
  background-color: #0069aa;
}
/* line 102, ../sass/nicer-menus.scss */
#block-menu-block-23 div.menu-name-menu-apl-2013-06-20 ul li.menuparent,
#block-nice-menus-1 ul li.menuparent,
#block-nice-menus-2 ul li.menuparent {
  background-image: none;
}
/* line 104, ../sass/nicer-menus.scss */
#block-menu-block-23 div.menu-name-menu-apl-2013-06-20 ul li.menuparent a,
#block-nice-menus-1 ul li.menuparent a,
#block-nice-menus-2 ul li.menuparent a {
  padding: 3px 5px;
}
/* line 109, ../sass/nicer-menus.scss */
#block-menu-block-23 div.menu-name-menu-apl-2013-06-20 ul li a,
#block-nice-menus-1 ul li a,
#block-nice-menus-2 ul li a {
  color: white;
}
/* line 111, ../sass/nicer-menus.scss */
#block-menu-block-23 div.menu-name-menu-apl-2013-06-20 ul li a:hover, #block-menu-block-23 div.menu-name-menu-apl-2013-06-20 ul li a.qtip-hover,
#block-nice-menus-1 ul li a:hover,
#block-nice-menus-1 ul li a.qtip-hover,
#block-nice-menus-2 ul li a:hover,
#block-nice-menus-2 ul li a.qtip-hover {
  background-color: white;
  color: #0069aa;
}
