/* line 4, ../sass/page.scss */
#page #main {
  margin: 0 auto !important;
  width: 580px;
  margin-bottom: 20px !important;
  line-height: 1.5em;
}
/* line 6, ../sass/page.scss */
#page #main .breadcrumb ol {
  padding-left: 0;
}
/* line 8, ../sass/page.scss */
#page #main .breadcrumb ol li {
  display: inline;
  list-style: none outside none;
}
/* line 15, ../sass/page.scss */
#page #main .item-list .pager {
  clear: both;
  text-align: center;
}
/* line 18, ../sass/page.scss */
#page #main .item-list .pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: 5px;
}
@media (min-width: 980px) {
  /* line 4, ../sass/page.scss */
  #page #main {
    width: 962px;
  }
}
/* line 35, ../sass/page.scss */
#page #main .panel-2col .panel-col-first,
#page #main .center-wrapper .panel-col-first {
  width: 580px;
  min-height: 100px;
  float: none;
  margin: 10px auto;
}
/* line 41, ../sass/page.scss */
#page #main .panel-2col .panel-col-first .inside,
#page #main .center-wrapper .panel-col-first .inside {
  margin: 0;
}
@media (min-width: 980px) {
  /* line 35, ../sass/page.scss */
  #page #main .panel-2col .panel-col-first,
  #page #main .center-wrapper .panel-col-first {
    float: left;
    margin: 10px 0;
  }
}
/* line 51, ../sass/page.scss */
#page #main .panel-2col .panel-col-last,
#page #main .center-wrapper .panel-col-last {
  float: none;
  margin: 30px auto;
  width: 580px;
}
/* line 57, ../sass/page.scss */
#page #main .panel-2col .panel-col-last .inside,
#page #main .center-wrapper .panel-col-last .inside {
  margin: 0;
}
@media (min-width: 980px) {
  /* line 51, ../sass/page.scss */
  #page #main .panel-2col .panel-col-last,
  #page #main .center-wrapper .panel-col-last {
    float: right;
    width: 360px;
    margin: 10px 0;
  }
}
/* line 68, ../sass/page.scss */
#page #main .more-link {
  text-align: right;
}
/* line 71, ../sass/page.scss */
#page #main h2.pane-title {
  border-bottom: 1px solid #fdb813;
  margin: 5px 0 !important;
  padding: 5px 5px 0 0;
}
