/* line 4, ../sass/page.scss */
#page #main {
  margin: 0 auto !important;
  width: 580px;
  line-height: 1.5em;
}
@media (min-width: 980px) {
  /* line 4, ../sass/page.scss */
  #page #main {
    width: 962px;
  }
}
/* line 13, ../sass/page.scss */
#page #main .panel-2col .panel-col-first,
#page #main .center-wrapper .panel-col-first {
  width: 580px;
  min-height: 100px;
  float: none;
  margin: 10px auto;
}
/* line 19, ../sass/page.scss */
#page #main .panel-2col .panel-col-first .inside,
#page #main .center-wrapper .panel-col-first .inside {
  margin: 0;
}
@media (min-width: 980px) {
  /* line 13, ../sass/page.scss */
  #page #main .panel-2col .panel-col-first,
  #page #main .center-wrapper .panel-col-first {
    float: left;
    margin: 5px 0;
  }
}
/* line 29, ../sass/page.scss */
#page #main .panel-2col .panel-col-last,
#page #main .center-wrapper .panel-col-last {
  float: none;
  margin: 30px auto;
  width: 580px;
}
/* line 35, ../sass/page.scss */
#page #main .panel-2col .panel-col-last .inside,
#page #main .center-wrapper .panel-col-last .inside {
  margin: 0;
}
@media (min-width: 980px) {
  /* line 29, ../sass/page.scss */
  #page #main .panel-2col .panel-col-last,
  #page #main .center-wrapper .panel-col-last {
    float: right;
    width: 360px;
    margin: 10px 0;
  }
}
/* line 46, ../sass/page.scss */
#page #main .more-link {
  text-align: right;
}
/* line 49, ../sass/page.scss */
#page #main h2.pane-title {
  border-bottom: 1px solid #BFD3DF;
  margin: 5px 0 !important;
  padding: 5px 5px 0 0;
}
