/* line 2, ../sass/page.scss */
#page #main {
  margin: 10px auto;
  max-width: 980px;
}
/* line 9, ../sass/page.scss */
#page #main .panel-2col .panel-col-first,
#page #main .center-wrapper .panel-col-first {
  width: 580px;
  min-height: 100px;
}
/* line 14, ../sass/page.scss */
#page #main .panel-2col .panel-col-last,
#page #main .center-wrapper .panel-col-last {
  width: 360px;
  margin-left: 20px;
}
/* line 19, ../sass/page.scss */
#page #main .more-link {
  text-align: right;
}
/* line 22, ../sass/page.scss */
#page #main h2.pane-title {
  border-bottom: 1px solid #BFD3DF;
  margin: 5px 0 !important;
  padding: 5px 5px 0 0;
}
