/* line 4, ../sass/search.scss */
#form_articles, #form_site, #form_catalog {
  display: none;
}

/* line 8, ../sass/search.scss */
.alt_language {
  float: right;
}

/* line 13, ../sass/search.scss */
#header h2.block-title,
#header #form_catalog,
#header #form_site,
#header #form_articles {
  display: none;
}

/* line 20, ../sass/search.scss */
#aplCustomSearchWrapper2 {
  float: right;
  clear: right;
  margin-bottom: 10px;
}
/* line 25, ../sass/search.scss */
#aplCustomSearchWrapper2 form#globalSearch {
  position: relative;
}
/* line 28, ../sass/search.scss */
#aplCustomSearchWrapper2 input {
  float: right;
}
/* line 31, ../sass/search.scss */
#aplCustomSearchWrapper2 input#search_input {
  width: 320px;
  float: none !important;
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 24px !important;
  padding-top: 8px !important;
}
/* line 39, ../sass/search.scss */
#aplCustomSearchWrapper2 input.search_button {
  background-image: url("http://austinlibrary.com/images/apl_2014/search_icon.png");
  background-color: white;
  height: 29px;
  width: 32px;
  border: none;
  position: absolute;
  text-indent: -9999px;
  top: 3px;
  left: 100%;
  cursor: pointer;
}
/* line 51, ../sass/search.scss */
#aplCustomSearchWrapper2 input.search_button:hover {
  background-position: 33px 0;
}
/* line 54, ../sass/search.scss */
#aplCustomSearchWrapper2 input.search_button:active {
  background-position: 38px 1px;
}
/* line 58, ../sass/search.scss */
#aplCustomSearchWrapper2 .searchOptions {
  clear: both;
  margin-top: 5px;
  *margin-top: 27px;
}
/* line 62, ../sass/search.scss */
#aplCustomSearchWrapper2 .searchOptions input {
  float: left;
}
/* line 65, ../sass/search.scss */
#aplCustomSearchWrapper2 .searchOptions label {
  font-weight: normal;
  float: left;
  margin: 0 10px 0 5px;
  *margin-top: 0;
}
