/* line 5, ../sass/top.scss */
.panel-pane.pane-custom.pane-4 > img {
  height: auto;
  max-width: 100%;
}

/* line 9, ../sass/top.scss */
#mini-panel-ahc_about_us_address_hours p + p {
  padding-top: 10px;
}

/* line 13, ../sass/top.scss */
#mini-panel-austin_history_center_all .panel-pane.pane-custom.pane-3 > p {
  margin-left: 10px;
  margin-right: 10px;
}
/* line 17, ../sass/top.scss */
#mini-panel-austin_history_center_all span.mon, #mini-panel-austin_history_center_all span.tues, #mini-panel-austin_history_center_all span.sun {
  display: block;
}
/* line 19, ../sass/top.scss */
#mini-panel-austin_history_center_all span.mon span, #mini-panel-austin_history_center_all span.mon span span, #mini-panel-austin_history_center_all span.tues span, #mini-panel-austin_history_center_all span.tues span span, #mini-panel-austin_history_center_all span.sun span, #mini-panel-austin_history_center_all span.sun span span {
  display: inline-block;
}

/* line 28, ../sass/top.scss */
#mini-panel-ask_us p {
  margin: 0 5px 5px 10px;
}
/* line 30, ../sass/top.scss */
#mini-panel-ask_us p span {
  display: inline-block;
}
/* line 32, ../sass/top.scss */
#mini-panel-ask_us p span.mon, #mini-panel-ask_us p span.fri, #mini-panel-ask_us p span.sun {
  margin-top: 10px;
}

/* line 44, ../sass/top.scss */
.panel-2col .panel-col-first .inside,
.panel-2col .panel-col-first .inside p {
  margin: 0 0 0 0 !important;
}

/* line 51, ../sass/top.scss */
#mini-panel-austin_history_center_all div.panel-col div.panel-col,
div#mini-panel-using_the_library div.panel-col div.panel-col {
  width: 33%;
}

/* line 56, ../sass/top.scss */
div#mini-panel-clone_of_messages {
  text-align: center;
}
/* line 59, ../sass/top.scss */
div#mini-panel-clone_of_messages p {
  margin-bottom: 0;
}
/* line 62, ../sass/top.scss */
div#mini-panel-clone_of_messages span.field-content {
  display: block;
}
/* line 65, ../sass/top.scss */
div#mini-panel-clone_of_messages div.messages {
  background-image: none;
  border: none;
  padding: 6px 20px !important;
}
/* line 69, ../sass/top.scss */
div#mini-panel-clone_of_messages div.messages.status {
  background-color: green;
  color: white;
}
/* line 73, ../sass/top.scss */
div#mini-panel-clone_of_messages div.messages.warning {
  background-color: #fdb813;
  color: white;
}
/* line 76, ../sass/top.scss */
div#mini-panel-clone_of_messages div.messages.warning p {
  color: #001421;
}
/* line 78, ../sass/top.scss */
div#mini-panel-clone_of_messages div.messages.warning p a {
  border-bottom: 1px dotted white;
  color: #001421;
}
/* line 81, ../sass/top.scss */
div#mini-panel-clone_of_messages div.messages.warning p a:hover {
  border-bottom: 1px solid #001421;
  text-decoration: none;
}
