/* line 3, ../sass/top.scss */
body {
  overflow-y: scroll;
  overflow-x: hidden;
}

/* line 7, ../sass/top.scss */
.panel-pane.pane-custom.pane-4 > img {
  height: auto;
  max-width: 100%;
}

/* line 11, ../sass/top.scss */
#mini-panel-ahc_about_us_address_hours p + p {
  padding-top: 10px;
}

/* line 15, ../sass/top.scss */
#mini-panel-austin_history_center_all .panel-pane.pane-custom.pane-3 > p {
  margin-left: 10px;
  margin-right: 10px;
}
/* line 19, ../sass/top.scss */
#mini-panel-austin_history_center_all span.mon, #mini-panel-austin_history_center_all span.tues, #mini-panel-austin_history_center_all span.sun {
  display: block;
}
/* line 21, ../sass/top.scss */
#mini-panel-austin_history_center_all span.mon span, #mini-panel-austin_history_center_all span.mon span span, #mini-panel-austin_history_center_all span.tues span, #mini-panel-austin_history_center_all span.tues span span, #mini-panel-austin_history_center_all span.sun span, #mini-panel-austin_history_center_all span.sun span span {
  display: inline-block;
}

/* line 30, ../sass/top.scss */
#mini-panel-ask_us p {
  margin: 0 5px 5px 10px;
}
/* line 32, ../sass/top.scss */
#mini-panel-ask_us p span {
  display: inline-block;
}
/* line 34, ../sass/top.scss */
#mini-panel-ask_us p span.mon, #mini-panel-ask_us p span.fri, #mini-panel-ask_us p span.sun {
  margin-top: 10px;
}

/* line 46, ../sass/top.scss */
body div div.panel-display {
  margin-bottom: 0px !important;
}

/* line 49, ../sass/top.scss */
.panel-2col .panel-col-first .inside,
.panel-2col .panel-col-first .inside p {
  margin: 0 0 0 0 !important;
}

/* line 56, ../sass/top.scss */
#mini-panel-austin_history_center_all div.panel-col div.panel-col,
div#mini-panel-using_the_library div.panel-col div.panel-col {
  width: 33%;
}

/* line 61, ../sass/top.scss */
div#mini-panel-clone_of_messages {
  text-align: center;
}
/* line 64, ../sass/top.scss */
div#mini-panel-clone_of_messages p {
  margin-bottom: 0;
}
/* line 67, ../sass/top.scss */
div#mini-panel-clone_of_messages span.field-content {
  display: block;
}
/* line 70, ../sass/top.scss */
div#mini-panel-clone_of_messages div.messages {
  background-image: none;
  border: none;
  padding: 6px 20px !important;
}
/* line 74, ../sass/top.scss */
div#mini-panel-clone_of_messages div.messages.status {
  background-color: green;
  color: white;
}
/* line 78, ../sass/top.scss */
div#mini-panel-clone_of_messages div.messages.warning {
  background-color: #fdb813;
  color: white;
}
/* line 81, ../sass/top.scss */
div#mini-panel-clone_of_messages div.messages.warning p {
  color: #001421;
}
/* line 83, ../sass/top.scss */
div#mini-panel-clone_of_messages div.messages.warning p a {
  border-bottom: 1px dotted white;
  color: #001421;
}
/* line 86, ../sass/top.scss */
div#mini-panel-clone_of_messages div.messages.warning p a:hover {
  border-bottom: 1px solid #001421;
  text-decoration: none;
}

/* line 95, ../sass/top.scss */
div#mini-panel-apl_2014_top {
  background-color: white;
}
/* line 97, ../sass/top.scss */
div#mini-panel-apl_2014_top .panel-col-top,
div#mini-panel-apl_2014_top .panel-col-bottom {
  width: 100%;
}
/* line 104, ../sass/top.scss */
div#mini-panel-apl_2014_top .panel-col-bottom {
  margin-top: 10px;
  border-top: 3px solid #0069aa;
}
/* line 112, ../sass/top.scss */
div#mini-panel-apl_2014_top .panel-col-top {
  background-color: #001421;
}
/* line 118, ../sass/top.scss */
div#mini-panel-apl_2014_top .panel-col-top ul.menu li:nth-child(3) a {
  color: #fdb813;
  font-weight: bold;
}
/* line 122, ../sass/top.scss */
div#mini-panel-apl_2014_top .panel-col-top ul.menu li:last-child a {
  border-right: none;
}
/* line 125, ../sass/top.scss */
div#mini-panel-apl_2014_top .panel-col-top ul.menu li a {
  text-transform: uppercase;
  border-right: 1px solid rgba(189, 189, 189, 0.8);
  padding: 0 5px;
  letter-spacing: 1px;
  font-weight: bold;
}
/* line 135, ../sass/top.scss */
div#mini-panel-apl_2014_top .center-wrapper {
  min-height: 72px;
  max-width: 960px;
  padding: 0 20px;
  margin: 5px auto !important;
  position: relative;
}
/* line 147, ../sass/top.scss */
div#mini-panel-apl_2014_top .center-wrapper form {
  position: relative;
}
/* line 150, ../sass/top.scss */
div#mini-panel-apl_2014_top .center-wrapper form div.searchOptions {
  margin-bottom: 10px;
}
/* line 157, ../sass/top.scss */
div#mini-panel-apl_2014_top .panel-col-first {
  float: left;
  position: relative;
  min-width: 580px;
  width: 50%;
}
/* line 164, ../sass/top.scss */
div#mini-panel-apl_2014_top .panel-col-first .inside {
  float: right;
  width: 580px;
  top: 2px;
}
/* line 173, ../sass/top.scss */
div#mini-panel-apl_2014_top .panel-col-last {
  float: right;
  margin-left: 20px;
  width: 340px;
}
/* line 179, ../sass/top.scss */
div#mini-panel-apl_2014_top .panel-col-bottom {
  background-color: #0069aa;
}
/* line 181, ../sass/top.scss */
div#mini-panel-apl_2014_top .panel-col-bottom ul.menu li {
  border-bottom: 3px solid #0069aa;
  display: inline-block;
}
/* line 186, ../sass/top.scss */
div#mini-panel-apl_2014_top .panel-col-bottom ul.menu li a {
  color: white;
  font-size: 1.4em;
  text-transform: none;
}
/* line 191, ../sass/top.scss */
div#mini-panel-apl_2014_top .panel-col-bottom ul.menu li a:hover {
  text-decoration: none;
  background-color: white;
  color: #0069aa;
}

/* line 202, ../sass/top.scss */
#city-header h2.pane-title {
  display: none;
}
/* line 205, ../sass/top.scss */
#city-header div {
  margin: 0;
  padding: 0;
}
/* line 211, ../sass/top.scss */
#city-header ul.menu {
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  border: medium none;
  list-style: none outside none;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 62.5%;
  font-weight: normal;
  text-align: center;
}
/* line 224, ../sass/top.scss */
#city-header ul.menu li:nth-child(3) a {
  color: #fdb813;
}
/* line 227, ../sass/top.scss */
#city-header ul.menu li {
  display: inline;
  float: none;
  margin: 0;
  margin: 0 0 0 2px;
  list-style: none outside none;
  font-size: 1.2em;
}
/* line 234, ../sass/top.scss */
#city-header ul.menu li a {
  letter-spacing: 1px;
  border-right: 1px solid rgba(189, 189, 189, 0.8);
  color: #BDBDBD;
  font-size: 1.1em;
  padding: 0 5px;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 242, ../sass/top.scss */
#city-header ul.menu li a:hover {
  text-decoration: underline;
}
/* line 245, ../sass/top.scss */
#city-header ul.menu li a.active {
  color: #fdb813;
  font-weight: bold;
}
/* line 250, ../sass/top.scss */
#city-header ul.menu li.first {
  padding-left: 0;
}
/* line 253, ../sass/top.scss */
#city-header ul.menu li.last a {
  border-right: none;
}
/* line 257, ../sass/top.scss */
#city-header ul.menu li.expanded, #city-header ul.menu li.collapsed, #city-header ul.menu li.leaf {
  margin: 0;
  padding: 2px 0 0 0;
}
